
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include 'base1.html' %}
    <link rel="stylesheet" href="{% static "css/checkbox.css" %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    {% include 'base2.html' %}
    <br>

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <div class="wrapper mx-auto" style=" text-align: center;">
        <h3 class="mx-auto" style="color: #7895B2;"> Choose 2 categories you like！</h3>
      
        <div class="container" style="margin-right: 120px; margin-left:0;">
          <label class="option_item" >
            <input type="checkbox" class="checkbox" id="alpha" name="alpha">
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <div class="icon"><i class="fa-solid fa-landmark"style="font-size: 200%;"></i></div>
              <div class="name">Historic building</div>
            </div>
          </label>
          <label class="option_item">
            <input type="checkbox" class="checkbox" id="beta" name="beta">
            <div class="option_inner twitter">
              <div class="tickmark"></div>
              <div class="icon"><i class="fa-solid fa-camera" style="font-size: 200%;"></i></div>
              <div class="name">Art  Center</div>
            </div>
          </label>
          <label class="option_item">
            <input type="checkbox" class="checkbox" id="theta" name="theta">
            <div class="option_inner instagram">
              <div class="tickmark"></div>
              <div class="icon"><i class="fa-solid fa-paintbrush" style="font-size: 200%;"></i></div>
              <div class="name">Public Art</div>
            </div>
          </label>
          <label class="option_item">
            <input type="checkbox" class="checkbox" id="delta" name="delta">
            <div class="option_inner linkedin">
              <div class="tickmark"></div>
              <div class="icon"><i class="fa-solid fa-signs-post" style="font-size: 200%;"></i></div>
              <div class="name">Shopping Area</div>
            </div>
          </label>
        </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="btn1">
        <a><button type="button" class="btn btn-outline-dark" style="float:left; margin-right: 15px; margin-top: 25px; background-color: #F5EFE6;" onclick="validate()">Confirm</button></a>
        <a href="{% url 'balancegame' %}"><button type="button" class="btn btn-outline-dark" style="float:left; margin-top: 25px; background-color: #AEBDCA;">Back</button></a>
      </div>
    </div>
    

        <script type="text/javascript">
            
            function validate() {
                var history = document.getElementById('alpha');
                var art_museum = document.getElementById('beta');
                var pub_art = document.getElementById('theta');
                var theme_street = document.getElementById('delta');

                var pref = [];

                if (history.checked) {
                    pref.push('歷史建築');
                } 
                if (art_museum.checked) {
                    pref.push('藝文館所');
                } 
                if (pub_art.checked) {
                    pref.push('公共藝術');
                } 
                if (theme_street.checked) {
                    pref.push('主題商街');
                } 
                if (pref.length == 2){
                  //alert("已記錄您的喜好：" + pref);
                  data = {
                      'pref[]': pref
                  }
                  $.ajax({
                      type: 'POST',
                      url: "{% url 'art' %}",
                      data: data,
                  });
                  window.location.replace("{% url 'index' %}");
                } else {
                    alert("請選擇2個您可能喜歡的景點類別");
                }
                
            }
        </script>
</body>
</html>
