
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base1.html' %}
    <style>
        .card-img-top:hover{
             opacity: 0.3;
        }
    
    </style>
</head>
<body>
    {% include 'base2.html' %}
    {% if user.is_authenticated %}
    
    <br><br>
    <h3 style="text-align:center;">
        Hi {{ user.username }}, Choose a topic you like
    </h3>
    <br><br>

    <div class="card-group">
        <div class="card text-center">
            <a href="{% url 'art' %}">
                <img src="{% static "images/ramadan.png" %}" class="card-img-top" style="display:block; margin:auto; width: 50%;">
            </a>
            <div class="card-body">
                <h5 class="card-title">Literary travel</h5>
            </div>
        </div>
        <div class="card text-center">
            <a href="{% url 'health' %}">
                <img src="{% static "images/muscle.png" %}" class="card-img-top" style="display:block; margin:auto; width: 50%;" >
            </a>
            <div class="card-body">
                <h5 class="card-title">Healthy route</h5>
            </div>
        </div>
        <div class="card text-center">
            <a href="{% url 'other' %}">
                <img src="{% static "images/map.png" %}" class="card-img-top" style="display:block; margin:auto; width: 50%;">
            </a>
            <div class="card-body">
                <h5 class="card-title">Others</h5>
            </div>
        </div>
    </div>
    {% else %}
    <h2>Please Login</h2>
    {% endif %}
</body>
</html>
