<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap" rel="stylesheet">
    <!-- Favicon and touch icons -->
    <link type="image/x-icon" href="images/favicon1.ico" rel="icon" />
    <link type="image/x-icon" href="images/favicon1.ico" rel="shortcut icon" />
    <link type="image/x-icon" href="images/favicon1.ico" rel="bookmark" />

    <!-- Favicon for Chrome -->
    <link rel="icon" type="image/png" sizes="192x192" href="/xxx/xxx.png" />
    <title>Journey Go - Team Setup</title>


    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap"
        rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/a973304abd.js" crossorigin="anonymous"></script>


    <!-- CSS -->
    <link rel="stylesheet" href="css/navbar-styles.css">
    <link href="css/start.css" rel="stylesheet" type="text/css">


    <style>
    </style>
</head>

<body>
    <br>
    <h3 style="text-align:center;">
        選擇一個你有興趣的主題
    </h3>
    <div class="card-group">
        <div class="card text-center">
            <img src="{% static " images/ramadan.png" %}" class="card-img-top"
                style="display:block; margin:auto; width: 75%;" alt="...">
            <div class="card-body">
                <h5 class="card-title">文藝旅行</h5>
                <a class="btn btn-primary" href="art.html" role="button">pick me</a>
            </div>
        </div>
        <div class="card text-center">
            <img src="{% static " images/muscle.png" %}"" class="card-img-top"
                style="display:block; margin:auto; width: 75%;" alt="...">
            <div class="card-body">
                <h5 class="card-title">健康路線</h5>
                <a class="btn btn-primary" href="health.html" role="button">pick me</a>
            </div>
        </div>
        <div class="card text-center">
            <img src="{% static " images/map.png class="card-img-top" style="display:block; margin:auto; width: 75%;"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">其他</h5>
                <a class="btn btn-primary" href="other.html" role="button">pick me</a>

            </div>
        </div>
    </div>

</body>

</html>