{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base1.html' %}
    <link rel="stylesheet" href="{% static "css/room.css" %}">
</head>

<body>
    {% include 'base2.html' %}
    <div class="info" style="text-align:center;">
        <h2>Do you like Taipei 101?</h2>
        <img src="{% static "images/101.jpg" %}" alt="" style="width:40%;">
        <br><br>
        <a class="btn btn-primary text-uppercase" href="{% url 'result' %}">Go</a>
        <a class="btn btn-primary text-uppercase" id="againbtn" href="{% url 'ready' %}">Again</a>

    </div>


</body>

</html>