{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base1.html' %}
    <title>Welcome to JourneyGo</title>
</head>

<body>

    {% include 'base2.html' %}

    <div>
    
    </div>

    <ul class="to-center">
        
        <h1>JourneyGo</h1>
        <h3>Group Spots Recommender</h3>
        <div>
            <img src="{% static "images/04.png" %}" alt="Map" width="300" height="300">
            <br><br>
            {% if user.is_authenticated %}
            <h3>Welcome, {{ user.username }} </h3>
            {% else %}
            <h3>YOU HAVE TO LOGIN TO GET YOUR CUSTOMIZED RECOMMENDATION FROM JOURNEYGO.</h3>
            {% endif %}
            <br>
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'start' %}" class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true">Team up!</a>
        {% endif %}
    </ul>

</body>

</html>