{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base1.html' %}
</head>

<body>

    {% include 'base2.html' %}

    <div>
    {% if user.is_authenticated %}
        Hello, "{{ user.username }}" <br>
    {% else %}
    YOU HAVE TO LOGIN TO GET YOUR CUSTOMIZED RECOMMENDATION FROM JOURNEYGO.
    {% endif %}
    </div>

    <ul class="to-center">
        
        <h1>JourneyGo</h1>
        <h3>Group Spots Recommender</h3>
        <div>
            <img src="{% static "images/04.png" %}" alt="Map" width="300" height="300">
            <br><br><br><br>
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'start' %}" class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true">Team up!</a>
        {% endif %}
    </ul>

</body>

</html>