{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base1.html' %}
    <link rel="stylesheet" href="{% static "css/index-styles.css" %}">
    <title>Welcome to JourneyGo</title>

    <style>
      :root {
  --red:#F87474
}

.carousel-inner img{
  box-shadow:
    -50px -60px 0 -40px var(--red),
    50px 60px 0 -40px var(--red);
}
.btn-success{
    background-color: #3AB0FF !important;
}
.btn-success:focus, .btn-success:active:hover{
  color: #3AB0FF;
  background-color: #3AB0FF;
  border-color: #3AB0FF;
}

    </style>
</head>

<body>

    {% include 'base2.html' %}

        
        <h1 style="text-align:center;" >JourneyGo</h1>
        <!-- <h3>Group Spots Recommender</h3> -->
        <div style="text-align:center;" >
            <br><br>
            {% if user.is_authenticated %}
            <h3>Welcome, {{ user.username }} </h3>
            {% else %}
            <h3>YOU HAVE TO LOGIN TO GET YOUR CUSTOMIZED RECOMMENDATION FROM JOURNEYGO.</h3>
            {% endif %}
            <br>
        </div>
       
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" align="center" >
            <div class="carousel-inner" data-bs-interval="1500">
              <div class="carousel-item active">
                <img src="{% static "images/aa.jpg" %}" class="d-block w-50" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static "images/gg.jpg" %}"  class="d-block w-50" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static "images/cc.jpg" %}"  class="d-block w-50" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static "images/ee.jpg" %}"  class="d-block w-50" alt="...">
              </div>
            </div>
          </div>

          <br>

        {% if user.is_authenticated %}
        <center>
          <a href="{% url 'start' %}"   class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true">Team up!</a>
        </center>
                {% endif %}


</body>

</html>