{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base1.html' %}
    <link rel="stylesheet" href="{% static "css/room.css" %}">
    <link rel="stylesheet" href="{% static "css/decide.css" %}">
    <title>JourneyGo - Google Map Guide</title>
    <style>
      .modal-body{
        font-family: Lucida Sans;
      }
    </style>
 
</head>
{% include 'base2.html' %}
  <body >

    <div class="container">
      <div class="cloud">
        <img src="{% static "images/cloud.png" %}">
        
        <div class="cloud1">
          <img src="{% static "images/cloud.png" %}">
        </div>
      </div>
    </div>

    
    <br><br>
    <h1 style="text-align:center; margin-top: 40px; font-size: 40px; color: #7895B2;" >Like This Journey?</h1>

    {% for doc, res, lod, id, pt, pd in tourist_info %}
    <div class="info mx-auto" style="text-align:center;"><br><br><br>
      <div class="wrap mx-auto" style="display: flex; width: 800px ; margin: 0 auto;margin-right: 60px; text-align:center;">
        <div class="content" style="width: 348px;display: flex;align-items: center;justify-content: center;">
              <h4 style="margin-left: 200px;">{{ doc.name }}</h4>
              <img  src={{ doc.images.0 }} width="100%" style="text-align: center; margin-left:20px; border-radius:10%;">
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        </div>
      </div>
    </div>
        
  <div align="center">
    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#spotModal{{ id }}"style="
      background-color:#7895B2;
      border-radius:20px;
      border:hidden;
      display:inline-block;
      cursor:pointer;
      color:#fff;
      font-family: Lucida Sans;
      font-size:14px;
      font-weight:bold;
      margin-top: 5px;
      padding:12px 16px;
      text-decoration:none;
      text-shadow:0px 1px 0px #ffffff;margin-left:220px;" >Information</button>
    <div class="modal fade" id="spotModal{{ id }}" tabindex="-1" aria-labelledby="spotModal" aria-hidden="true">
      <div class="modal-dialog" id="{{ id }}">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="spotModal{{ id }}">{{ doc.name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h6>Nearby restaurants:</h6>
            {% for r in res %} <p>{{ r }}</p> {% endfor %}
            <hr>
            <h6>Nearby accommodation:</h6>
            {% for l in lod %} <p>{{ l }}</p> {% endfor %}
            <a href=""><button type="button" class="btn btn-primary btn-lg" style="text-align: center; font-family: Lucida Sans; background-color: #7895B2;" data-bs-toggle="modal" data-bs-target="#exampleModal">Google map</button></a>
          </div>
        </div>
      </div>
    <!--end of modal-->
    </div>
  
    
    <br>
    {% with docs|last as last %} 
    {% if doc != last %}
      <!--點到點距離-->
      <div class="line" style="text-align:center;">
        <img src="{% static "images/dotted-barline.png" %}" width="5%" >
        <p >Distance:  {{ pd }} Km</p>
        <p >Time: {{ pt.0 }} hr {{ pt.1 }} min</p>

        <!-- {% if trans == "機車" %}
        <p >Time: a mins</p>
        {% elif trans == "汽車" %}
        <p >Time: 27 mins</p>
        {% elif trans == "腳踏車" %}
        <p >Time: c mins</p>
        {% elif trans == "大眾運輸" %}
        <p >Time: 10 mins</p>
        {% endif %} -->
      </div><br>
    {% else %}
    {% endif %} 
    {% endwith %}
    {% endfor %}

<br>
<div style="text-align: center;">
    <a href="{% url 'result' %}"><button type="button" class="btn btn-secondary btn-lg" style="background-color: #E8DFCA; font-family: Lucida Sans; border: hidden;;" >GO！</button></a>
    <a href="{% url 'spotvote' %}"><button type="button" class="btn btn-secondary btn-lg" style="background-color: #AEBDCA; font-family: Lucida Sans;border: hidden;;">Again</button></a>
    <br><br>
</div>
</div>


</body>

</html>