
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include 'base1.html' %}
    <link rel="stylesheet" href="{% static "css/checkbox.css" %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    {% include 'base2.html' %}

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <div class="wrapper">
        <div class="title">
            選擇2個你有興趣的景點類別
        </div>
      
        <div class="container">
          <label class="option_item" >
            <input type="checkbox" class="checkbox" id="alpha" name="alpha">
            <div class="option_inner facebook">
              <div class="tickmark"></div>
              <div class="icon"><i class="fab fa-facebook-f"></i></div>
              <div class="name">藍色公路</div>
            </div>
          </label>
          <label class="option_item">
            <input type="checkbox" class="checkbox" id="beta" name="beta">
            <div class="option_inner twitter">
              <div class="tickmark"></div>
              <div class="icon"><i class="fab fa-twitter"></i></div>
              <div class="name">宗教信仰</div>
            </div>
          </label>
          <label class="option_item">
            <input type="checkbox" class="checkbox" id="theta" name="theta">
            <div class="option_inner instagram">
              <div class="tickmark"></div>
              <div class="icon"><i class="fab fa-instagram"></i></div>
              <div class="name">夜市商圈</div>
            </div>
          </label>
          <label class="option_item">
            <input type="checkbox" class="checkbox" id="delta" name="delta">
            <div class="option_inner linkedin">
              <div class="tickmark"></div>
              <div class="icon"><i class="fab fa-linkedin-in"></i></div>
              <div class="name">北北基景點</div>
            </div>
          </label>
        </div>
    </div>

    <div class="btn1">
        <a href="{% url 'balancegame' %}"><button type="button" class="btn btn-outline-dark" style="float:left">Back</button></a>
        <a><button type="button" class="btn btn-outline-dark" style="float:left" onclick="validate()">確認</button></a>
    </div>
    

        <script type="text/javascript">
            
            function validate() {
                var history = document.getElementById('alpha');
                var art_museum = document.getElementById('beta');
                var pub_art = document.getElementById('theta');
                var theme_street = document.getElementById('delta');

                var pref = [];

                if (history.checked) {
                    pref.push('藍色公路');
                } 
                if (art_museum.checked) {
                    pref.push('宗教信仰');
                } 
                if (pub_art.checked) {
                    pref.push('夜市商圈');
                } 
                if (theme_street.checked) {
                    pref.push('北北基景點');
                } 
                if (pref.length == 2){
                  alert("已記錄您的喜好：" + pref);
                  data = {
                      'pref[]': pref
                  }
                  $.ajax({
                      type: 'POST',
                      url: "{% url 'other' %}",
                      data: data,
                  });
                  window.location.replace("{% url 'index' %}");
              } else {
                  alert("請選擇2個您可能喜歡的景點類別");
              }
                
            }
        </script>
</body>
</html>

