<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'base1.html' %}
  <style>
    .title{
      color: #fcfcfc;
    font-size: 2rem;
    display: table;
    margin: 0 auto;
    }
    form {
      margin: 0 auto; 
}


  </style>
  <title>JourneyGo - Sign Up</title>

</head>
<body>

  {% include 'base2.html' %}
  &nbsp;
 <p>
  <span class=title style="background-color:#A2B5BB "  >
    REGISTER
</span>
</p>

<form method="post" style="width:950px;">
  {% csrf_token %}
  
      {{ form.as_p }}
 
  <input type="submit" value="Register" class="btn btn-outline-dark" style="margin-left: 50%">
  <br>

</form>


  
</body>
</html>