<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'base1.html' %}
  <style>
    .title{
      color: #fcfcfc;
    font-size: 2rem;
    display: table;
    margin: 0 auto;
    }
    form {
      margin: 0 auto; 
}


  </style>
  <title>JourneyGo - Sign Up</title>

</head>
<body>

  {% include 'base2.html' %}
  &nbsp;
  <h1 style="text-align:center; margin-top: 20px; margin-bottom: 20px; font-size: 50px; color: #7895B2;" >JourneyGo</h1>

  <form method="post" style="margin-left: 30px; margin-right: 30px;">
    <div class="row mb-3">
      {% csrf_token %}
      {{ form.as_p }}
    </div>
    <input type="submit" value="Register" class="btn btn-outline-dark" style="margin-left: 50%; background-color: #7895B2; color: #fff;">
  </form>

</body>


  
</body>
</html>