<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'base1.html' %}
  <title>Document</title>
</head>
<body>
  {% include 'base2.html' %}
  REGISTER <hr>

<form method="post">
    {{ form.as_table }}
    {% csrf_token %}
    {% comment %} <div class="mb-3">
      <label for="exampleInputUsername" class="form-label">Username:</label>
      <input type="username" class="form-control" name="username" id="exampleInputUsername" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First name:</label>
      <input type="firstname" class="form-control" name="firstname" id="exampleInputEmail1" >
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Last name:</label>
      <input type="lastname" class="form-control" name="lastname" id="exampleInputEmail1" >
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address:</label>
      <input type="email" class="form-control" name="email" id="exampleInputEmail1" >
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password:</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword2" class="form-label">Password confirmation:</label>
      <input type="password" class="form-control" name="passwordCon" id="exampleInputPassword2">
    </div> {% endcomment %}
    <input type="submit" value="Register">
</form>
</body>
</html>
