{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'base1.html' %}
  <link rel="stylesheet" href="{% static "css/setting-styles.css" %}">


</head>

<body>

  {% include 'base2.html' %}

  <!-- setting card -->
  <div class="container light-style flex-grow-1 container-p-y">



    <div class="card overflow-hidden setting-card">
      <h2 class="setting-title">Account settings</h2>
      <div class="row no-gutters row-bordered row-border-light">
        <!-- left bar -->
        <div class="col-md-3 pt-0">
          <div role="tabpanel">

            <div class="list-group" id="myList" role="tablist">
              <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#account-general"
                role="tab">General</a>
              <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#account-change-password"
                role="tab">Change
                password</a>
              <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#account-info"
                role="tab">Info</a>
              <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#account-social-links"
                role="tab">Social
                links</a>
              <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#account-connections"
                role="tab">Connections</a>
              <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#account-notifications"
                role="tab">Notifications</a>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <!-- general -->
            <div class="tab-pane active " id="account-general" role=" tabpanel">
              <div class="card-body media align-items-center">
                <img class="profile-img" src={{ user.pic }} alt="" class="d-block ui-w-80">
                <div class="media-body ml-4">
                  <label class="btn btn-outline-primary update-button">
                    Upload new photo
                    <input type="file" class="account-settings-fileinput">
                  </label> &nbsp;
                  <button type="button" class="btn btn-default md-btn-flat reset-button">Reset</button>

                  <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K
                  </div>
                </div>
              </div>
              <hr class="border-light m-0">

              <div class="card-body">
                <div class="form-group">
                  <label class="form-label">Username</label>
                  <input type="text" class="form-control mb-1" value={{ user.firstName }}>
                </div>
                <div class="form-group">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control" value={{ user.firstName }} {{ user.lastName }}>
                </div>
                <div class="form-group">
                  <label class="form-label">E-mail</label>
                  <input type="email" class="form-control" id="inputEmail3" placeholder={{ user.email }}>
                  <div class="alert alert-warning mt-3">
                    Your email is not confirmed. Please check your inbox.<br>
                    <a href="javascript:void(0)">Resend confirmation</a>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Signature Hashtag</label>
                  <input type="text" class="form-control" value={{ user.hashtag }}>
                </div>
              </div>
            </div>

            <!-- change passord -->
            <div class="tab-pane " id="account-change-password" role="tabpanel">
              <div class="card-body pb-2">

                <div class="form-group">
                  <label class="form-label">Current password</label>
                  <input type="password" class="form-control">
                </div>

                <div class="form-group">
                  <label class="form-label">New password</label>
                  <input type="password" class="form-control">
                </div>

                <div class="form-group">
                  <label class="form-label">Repeat new password</label>
                  <input type="password" class="form-control">
                </div>

              </div>
            </div>

            <!-- info -->
            <div class="tab-pane" id="account-info" role="tabpanel">
              <div class="card-body pb-2">

                <div class="form-group">
                  <label class="form-label">Bio</label>
                  <textarea class="form-control" rows="5"> 早安祝你有個美好的一天</textarea>
                </div>
                <div class="form-group">
                  <label class="form-label">Birthday</label>&nbsp;
                  <input id="date" type="date">
                </div>
                <div class="form-group">
                  <label class="form-label">Country</label>&nbsp;
                  <select class="custom-select">
                    <option>USA</option>
                    <option selected="">Taiwan</option>
                    <option>UK</option>
                    <option>Germany</option>
                    <option>France</option>
                  </select>
                </div>
              </div>
              <hr class="border-light m-0">
              <div class="card-body pb-2">

                <h6 class="mb-4">Contacts</h6>
                <div class="form-group">
                  <label class="form-label">Phone</label>
                  <input type="tel" class="form-control" id="phonenumber" pattern="[0-9]{4}-[0-9]{6}"
                    placeholder="0944-657896">
                </div>
              </div>
            </div>

            <!-- social links -->
            <div class="tab-pane" id="account-social-links" role="tabpanel">
              <div class="card-body pb-2">


                <div class="form-group">
                  <label class="form-label">Facebook</label>
                  <input type="text" class="form-control" value="https://www.facebook.com/user">
                </div>
                <div class="form-group">
                  <label class="form-label">Instagram</label>
                  <input type="text" class="form-control" value="https://www.instagram.com/user">
                </div>
                <div class="form-group">
                  <label class="form-label">Twitter</label>
                  <input type="text" class="form-control" value="https://twitter.com/user">
                </div>
                <div class="form-group">
                  <label class="form-label">Google+</label>
                  <input type="text" class="form-control" value="">
                </div>
                <div class="form-group">
                  <label class="form-label">LinkedIn</label>
                  <input type="text" class="form-control" value="">
                </div>


              </div>
            </div>

            <!-- connections -->
            <div class="tab-pane" id="account-connections" role="tabpanel">
              <div class="card-body">
                <button type="button" class="btn btn-twitter">Connect to
                  <strong>Twitter</strong></button>
              </div>
              <hr class="border-light m-0">
              <div class="card-body">
                <h5 class="mb-2">
                  <a href="javascript:void(0)" class="float-right text-muted text-tiny"><i class="ion ion-md-close"></i>
                    Remove</a>
                  <i class="ion ion-logo-google text-google"></i>
                  You are connected to Google:
                </h5>
                nmaxwell@mail.com
              </div>
              <hr class="border-light m-0">
              <div class="card-body">
                <button type="button" class="btn btn-facebook">Connect to
                  <strong>Facebook</strong></button>
              </div>
              <hr class="border-light m-0">
              <div class="card-body">
                <button type="button" class="btn btn-instagram">Connect to
                  <strong>Instagram</strong></button>
              </div>
            </div>

            <!-- notifactions -->
            <div class="tab-pane" id="account-notifications" role="tabpanel">
              <div class="card-body pb-2">

                <h6 class="mb-4">Activity</h6>

                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked="">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Email me when someone comments on my
                      article</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked="">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Email me when someone answers on my forum
                      thread</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Email me when someone follows me</span>
                  </label>
                </div>
              </div>
              <hr class="border-light m-0">
              <div class="card-body pb-2">

                <h6 class="mb-4">Application</h6>

                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked="">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">News and announcements</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Weekly product updates</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked="">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Weekly blog digest</span>
                  </label>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- commit/cancel buttons -->
    <div class="text-right mt-3 bottom-btn">
      <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
      <button type="button" class="btn btn-default">Cancel</button>
    </div>

  </div>




</body>

</html>