{% load static %}
<!DOCTYPE html>
<html lang="ch">

<head>
    {% include 'base1.html' %}
    <title>JourneyGo - Voting</title>
    <link rel="stylesheet" href="{% static "css/friendlist-styles.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>spotvote</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        .img-wrapper {
            width: 520px;
            height: 520px;
            background-size: contain;
            overflow: hidden;
            margin: 50px auto;
        }

        .img-wrapper img {
            width: 533px;
            height: 300px;
        }

        .img-wrapper p {
            text-align: center;
            height: 20px;
            line-height: 20px;
            font-size: 16px;
            margin-bottom: 10px;
            margin-top: 8px;
        }

        .img-wrapper button {
            margin: 12px 20px;
            font-size: 18px;
        }
    </style>

    <script type="text/javascript">
        
        window.onload = function () {
            let prev = document.getElementById("prev");
            let next = document.getElementById("next");
            let img = document.getElementsByTagName("img")[0];
            let info = document.getElementById("info");
            let intro = document.getElementById("intro");

            //建立一個數組儲存照片的路徑
            let imgArr = "{{ imgList | safe }}";
            imgArr = imgArr.replace(/'/g, '"');
            imgArr = JSON.parse(imgArr);

            let infoArr = "{{ nameList | safe }}"
            infoArr = infoArr.replace(/'/g, '"');
            infoArr = JSON.parse(infoArr);  
            
            
            let index = 0;
            document.getElementById('image').innerHTML=`<img src=${imgArr[index]} class="card-img-top" alt="你可能喜歡的景點">`;
            document.getElementById('name').innerHTML=`<p>${infoArr[index]}</p>`;
            //document.getElementById('intro').innerHTML=`<p>${introArr[index]}</p>`;

            var mem_vote = [];

            prev.onclick = function () {
                //prev.style.backgroundColor = "#ffffff";
                index++;
                if (index == imgArr.length) {
                    mem_vote.push(1);
                    alert(mem_vote);
                    data = {
                        'mem_vote[]': mem_vote
                      }
                      $.ajax({
                          type: 'POST',
                          url: "{% url 'spotvote' %}",
                          data: data,
                          success: function (response) {
                            console.log("coooooool");
                            window.location.href = "{% url 'loading' %}";
                          }
                      });
                } else {

                // save vote
                mem_vote.push(1);

                // render next object
                
                document.getElementById('image').innerHTML=`<img src=${imgArr[index]} class="card-img-top" alt="你可能喜歡的景點">`;
                document.getElementById('name').innerHTML=`<p>${infoArr[index]}</p>`;
                //document.getElementById('intro').innerHTML=`<p>${introArr[index]}</p>`;
                }
            };

            next.onclick = function () {
                //next.style.backgroundColor = "#ffffff";
                index++;
                if (index == imgArr.length) {
                    mem_vote.push(1);
                    alert(mem_vote);
                    data = {
                        'mem_vote[]': mem_vote
                      }
                      $.ajax({
                          type: 'POST',
                          url: "{% url 'spotvote' %}",
                          data: data,
                          success: function (response) {
                            console.log("coooooool");
                            window.location.href = "{% url 'loading' %}";
                          }
                      });
                } else {
                //save vote
                mem_vote.push(0);

                //render next object
                document.getElementById('image').innerHTML=`<img src=${imgArr[index]} class="card-img-top" alt="你可能喜歡的景點">`;
                document.getElementById('name').innerHTML=`<p>${infoArr[index]}</p>`;
                //document.getElementById('intro').innerHTML=`<p>${introArr[index]}</p>`;
                }
            };

        };
    </script>
</head>

<body>
    {% include 'base2.html' %}

    <br>
    <div style="text-align:center">
        <h3>Do you like this place?</h3>
    </div>

    
    <div class="img-wrapper">
        <div class="card" style="width: auto;">
            <div id="image"></div>
            {% comment %} <img  class="card-img-top" alt="你可能喜歡的景點"> {% endcomment %}
            <div class="card-body" style="height: auto;">
              <div id="name"></div>
              <div id="intro"></div>
            </div>
            <button type="button" class="btn btn-danger btn-sm" id="prev"><i class="fa-solid fa-heart"></i> Like</button>
            <button type="button" class="btn btn-light btn-sm" id="next"><i class="fa-solid fa-xmark"></i> Disike</button>
        </div>
    </div>

</body>

</html>