{% load static %}
<!DOCTYPE html>
<html>

<head>
  {% include 'base1.html' %}
  <link href="{% static "css/start.css" %}" rel="stylesheet" type="text/css">

</head>

<body>
  {% include 'base2.html' %}

  <div class="container d-flex justify-content-center align-items-center start-form">
    <div class="dropdown">
      <!--Dropdown Box-->

        <form method="post">
            <h4>旅遊人數</h4>
            <select name="numbers" class="form-select" aria-label="Default select example">
              {% for n in nums %}
                  <option value="{{ n }}" {% if selected_num == n %} selected="selected" {% endif %}> {{ n }} </option>
              {% endfor %}
            </select><br>

            <h4>遊玩時間</h4>
            <select name="duration" class="form-select" aria-label="Default select example">
              {% for time in travel_duration %} 
                <option value="{{ time }}" {% if selected_time == time %} selected="selected" {% endif %}> {{ time }} </option>
              {% endfor %}
            </select><br>

            <h4>交通工具</h4> 
            <select name="trans" class="form-select" aria-label="Default select example">
              {% for t in transportations %}
                  <option value="{{ t }}" {% if selected_trans == t %} selected="selected" {% endif %}> {{ t }} </option>
              {% endfor %}
            </select><br><br>
            <input type="submit" value="Confirm" class="btn btn-secondary">
        </form>
        {% if selected_num and selected_time and selected_trans %}
          <p>
            選擇的人數: {{ selected_num }} <br>
            選擇的時間: {{ selected_time }} <br>
            選擇的交通工具: {{ selected_trans }}
          </p>
        {% endif %}
        
      <!--end of dropdown box-->
    </div>
  </div>


  <div class="hover" style="margin: 40px">
    <a href="{% url 'room2' %}">
      <img src="{% static "images/start1.png" %}" class="rounded mx-auto d-block" width="200px">
    </a>
  </div>


</body>

</html>