{% load static %}
<!DOCTYPE html>
<html>

<head>
  {% include 'base1.html' %}
  <title>JourneyGo - Build Room</title>
  <link href="{% static "css/start.css" %}" rel="stylesheet" type="text/css">

</head>

<body>
  {% include 'base2.html' %}

  <div class="container d-flex justify-content-center align-items-center start-form">
    <div class="dropdown">
      <!--Dropdown Box-->

        <form method="post">
            <h4>旅遊人數</h4>
            <select name="numbers" class="form-select" aria-label="Default select example">
              {% for n in nums %}
                  <option value="{{ n }}" {% if selected_num == n %} selected="selected" {% endif %}> {{ n }} </option>
              {% endfor %}
            </select><br>

            <h4>遊玩時間</h4>
            <select name="duration" class="form-select" aria-label="Default select example">
              {% for time in travel_duration %} 
                <option value="{{ time }}" {% if selected_time == time %} selected="selected" {% endif %}> {{ time }} </option>
              {% endfor %}
            </select><br>

            <h4>交通工具</h4> 
            <select name="trans" class="form-select" aria-label="Default select example">
              {% for t in transportations %}
                  <option value="{{ t }}" {% if selected_trans == t %} selected="selected" {% endif %}> {{ t }} </option>
              {% endfor %}
            </select><br><br>

            <input class="hover" type="image" name="submit" src="{% static "images/start1.png" %}" border="0" alt="Submit" style="width: 150px; margin: 40px;">

        </form>
        {% comment %} {% if selected_num and selected_time and selected_trans %}
            <script>
              alert("選擇的人數: {{ selected_num }} \n選擇的時間: {{ selected_time }} \n選擇的交通工具: {{ selected_trans }}");
            </script>
        {% endif %} {% endcomment %}
        
      <!--end of dropdown box-->
    </div>
  </div>
</body>

</html>