
/* friend list */
.f-list {
    padding: 50px 100px;
    text-align: center;
}

.photo {
    width: 30%;
    border-radius: 20px;
    margin: 20px;
}

.friend-col {
    padding: 3% 2%;
}

.friend-list-title {
    font-size: 2.5rem;
    font-weight: 700;
}

